{% extends "base.html" %}
{% block title %}Análisis SERPs{% endblock %}
{% block content %}

  <div class="container-fluid px-0" id="bg-div">
    <div class="row justify-content-center">
        <div class="col-lg-9 col-12">
            <div class="card card0">
                <div class="d-flex" id="wrapper">
                    <!-- Sidebar -->
                    <div class="bg-light border-right" id="sidebar-wrapper">
                        <div class="sidebar-heading pt-5 pb-4"><strong>ANALIZADOR</strong></div>
                        <div class="list-group list-group-flush"> <a data-toggle="tab" href="#menu1" id="tab1" class="tabs list-group-item bg-light">
                                <div class="list-div my-2">
                                    <div class="fa fa-home"></div> &nbsp;&nbsp; Keyword Research
                                </div>
                            </a> <a data-toggle="tab" href="#menu2" id="tab2" class="tabs list-group-item active1">
                                <div class="list-div my-2">
                                    <div class="fa fa-qrcode"></div> &nbsp;&nbsp; Próximamente...
                                </div>
                            </a></div>
                    </div> <!-- Page Content -->
                    <div id="page-content-wrapper">
                        <div class="row pt-3" id="border-btm">
                            <div class="col-4"> <button class="btn btn-success mt-4 ml-3 mb-3" id="menu-toggle">
                                    <div class="bar4"></div>
                                    <div class="bar4"></div>
                                    <div class="bar4"></div>
                                </button> </div>
      
                        </div>
                        
                        <div class="row justify-content-center">
                            <div class="text-center col-6" id="test">Keyword Research</div>
                        </div>
                        <div class="tab-content">
                            <div id="menu1" class="tab-pane in active">
                                <div class="row justify-content-center">
                                    <div class="col-11">
                                        <div class="form-card">                                            
                                            <form action="/" method="post">
                                            

                                                <div class="row">

                                                    <div class="mt-4 col-md-5 offset-md-1 btn btn-secondary" role="button"> <a href="{{ url_for('download_file') }}" style="color:#FFF;">Descargar fichero excel</a> </div>
                                                    <div class="mt-4 col-md-5 offset-md-1 btn btn-success" role="button"> <a href="{{ url_for('inicio') }}" style="color:#FFF;">Realizar nueva búsqueda</a> </div>
                                                   
                                                </div>

                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div id="menu2" class="tab-pane">
                                <div class="row justify-content-center">
                                    <div class="col-11">
                                        <div class="form-card">
                                            <h3 class="mt-0 mb-4 text-center">Próximamente...</h3>
                                            <!--<form>-->
                                                <div class="row">
                                                    <div class="col-12">
                                                        <div class="input-group"> <input type="text" id="cr_no" placeholder="Introduzca la palabra clave que desea analizar" minlength="19" maxlength="19"> <label>BÚSQUEDA</label> </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-6">
                                                        <div class="input-group"> <input type="text" name="exp" id="exp" placeholder="&#9679;&#9679;&#9679;" minlength="5" maxlength="5"> <label>.Próximamente...</label> </div>
                                                    </div>
                                                    <div class="col-6">
                                                        <div class="input-group"> <input type="password" name="cvcpwd" placeholder="&#9679;&#9679;&#9679;" class="placeicon" minlength="3" maxlength="3"> <label>.Próximamente...</label> </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12"> <input type="submit" value="Próximamente...." class="btn btn-success placeicon"> </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <p class="text-center mb-5" id="below-btn"><a href="{{ url_for('download_file') }}">Descargar fichero excel</a></p>
                                                        
                                                    </div>
                                                </div>
                                            <!--</form>-->
                                        </div>
                                    </div>
                                </div>
                            </div>
           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
